.main {
  display: flex;
  padding: 30px;
}

.container {
}
.card_title {
  font-weight: normal;
}
/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
